@using ErlangVMA.VmController


@model IEnumerable<VirtualMachine>

<ul>
    @foreach (var vm in Model)
    {
        <li>
            @if (string.IsNullOrEmpty(vm.Name))
            {
                <i>@Html.ActionLink("Unnamed", "Interact", new { id = vm.Id })</i> @: started on @vm.StartedOn on node @vm.NodeAddress@(!vm.IsActive ? " not active" : "")
            }
            else
            {
                @Html.ActionLink(vm.Name, "Interact", new { id = vm.Id }) @: started on @vm.StartedOn on node @vm.NodeAddress@(!vm.IsActive ? " not active" : "")
            }
        </li>
     }
</ul>