@model ErlangVMA.LoginModel

<form id="loginForm" method="post">
    <h3>
        Login
    </h3>

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name):
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "fullwidth" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password):</td>
            <td>
                @Html.PasswordFor(model => model.Password, new { @class = "fullwidth" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td colspan="2">
                <label>
                    @Html.CheckBoxFor(model => model.Remember)
                    Remember me
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Register")">Register</a>
            </td>
            <td>
                <input type="submit" value="Login" name="Login" />
            </td>
        </tr>
    </table>
</form>