@model ErlangVMA.LoginModel

<form id="loginForm" method="post">
    <h3>
        Login
    </h3>

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name):
            </td>
            <td>
                @Html.EditorFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password):</td>
            <td>
                @Html.PasswordFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td colspan="2">
                <label>
                    @Html.EditorFor(model => model.Remember)
                    Remember me
                </label>
            </td>
        </tr>
    </table>

    <a href="@Url.Action("Register")">Register</a>

    <input type="submit" value="Login" name="Login" />
</form>