@model ErlangVMA.RegisterModel

@{
    ViewBag.Title = "Register";
}

<form id="registerForm" method="post">
    <h3>
        Register
    </h3>

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.UserName):
            </td>
            <td>
                @Html.TextBoxFor(model => model.UserName, new { @class = "fullwidth" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password):</td>
            <td>
                @Html.PasswordFor(model => model.Password, new { @class = "fullwidth" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ConfirmPassword):</td>
            <td>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "fullwidth" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.ConfirmPassword)</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationSummary(true)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Register" name="Register" />
            </td>
        </tr>
    </table>
</form>

