@using System.Web.Optimization

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/default")
        @Scripts.Render("~/jquery")
        
        @RenderSection("scripts", false)
    </head>
    <body>
        <div id="upperToolbar">
            <div>
                <div id="links">
                    @Html.ActionLink("List", "List", "VirtualMachine", null, new { @class = "actionlink" })
                    @Html.ActionLink("Start new", "StartNew", "VirtualMachine", null, new { @class = "actionlink" })
                </div>
                <div style="float: right">
                @if (Request.IsAuthenticated)
                {
                    @Html.Encode(Context.User.Identity.Name)
                    <a href="@Url.Action("Logout", "Authentication")"><b>Logout</b></a>
                }
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div id="mainContent">
            @RenderBody()
        </div>
    </body>
</html>
